body{
    background-color: black;
}

h1{
    color: blue;
    font-family:'Courier New';

}

.h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 585px;
    flex-direction: column;
    padding-top: 285px;
    font-size: 35px;

}

.bg{
    background-image:url('https://www.freepik.com/free-photos-vectors/household-appliance') ;
    background-size: cover; 
    height: 100vh;
    background-attachment: fixed;
}

h3{
    color: white;

}

.sh{
    padding: 25px;
}
